svg {
  cursor: pointer;
}
.cart-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-title h2 {
  font-size: 30px;
  font-family: sans-serif;
}
.cart {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  align-items: center;
}
.item-title h2 {
  font-size: 25px;
  font-family: sans-serif;
}
.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border: 1px solid #8c8c8c;
  padding: 15px 50px;
  border-radius: 5px;
}
.cart-item h3 {
  font-size: 20px;
  font-family: sans-serif;
}
.cart-item p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.cart-item img {
  width: 150px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reduce {
  display: flex;
  gap: 20px;
  justify-content: center;
  justify-content: center;
}
.order-title h2 {
  font-size: 25px;
  font-family: sans-serif;
}
.order p {
  font-size: 20px;
  font-family: sans-serif;
}
